#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  /* added transition */
  transition: transform .5s ease-in-out
}

/* MY SOLUTION 
button:hover {
  font-size: 24px;
  transition: 500ms;
}
*/
/* this covers the button enlarging but the transition back to normal size is not smooth */

/* need transition AND transfrom to get animation smooth on both hover and un-hover */
button:hover {
  transform: scale(1.5)
}